*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
  }
  
  .container {
    margin-top: 50px;
  }

.g-signin2{
    width: 200px;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
}